${project.artifactId}

  The topmost parent pom for producing artifacts within the tools reactor.
  ${project.artifactId} is the parent pom defining the build cycle for projects within
  the Nazgul Tools reactor itself.

  The codestyle contains the following:

  * Build cycle definitions (enforcer rules and configurations for checkstyle, IDE, cpd, pmd configurations)
    are imported from the codestyle project.

  * Tons of external dependency versions are defined in the dependencyManagement block

  * Configures distribution management and integration with external systems

  []


* Note!

  The ${project.artifactId} should not be used as a parent for projects outside of the Nazgul Tools reactor.
  Instead, use the Nazgul Parent, which imports and automatically applies the ValidationAspect to any child modules.
