------
Introduction
------

${project.artifactId}

The Codestyle project contains build definitions of code, reports and maven enforcement rules.
Setup documents for particular IDEs are placed within the resources/[IDE-type] directory.
Use these to smoothly setup your integrated development environment.

The maven build rules defined within this project are used throughout all projects within this
reactor, and also applied to all projects using parents from this project. The enforcement rules
ensure that all non-deployment projects (i.e. WAR, EAR) do not depend on implementation projects in
compile scope. The rationale here is to reduce spaghetti dependencies by permitting only dependencies
on API projects.

* Project types

We try to establish a normal component project setup, typically holding 3 projects for each component.
All of these component projects share a common <<<groupId>>> and VCS parent path, implying they are located
within the same directory in the VCS.

An example provides a good example to illustrate the component and project structure. Let us assume that we
define a component within a project with the following properties:

+------------------------------------------+
Project properties
Full DNS prefix: se.jguru.nazgul
Short prefix: nazgul-

Component properties:
ID: foo
VCS path: nazgul/[ID] (i.e. nazgul/foo)
+------------------------------------------+

The 3 typical component project (model, api, impl) share a common groupId:

    * <<
    <groupId>>>: [Full DNS prefix].[VCS path] (i.e. <<
        <se.jguru.nazgul.foo>>>)

            Other aspects are unique to each project type.

            ** The Model project

            Contains anemic, JAXB and JPA-annotated POJOs holding the state of the component.
            May not depend on any projects within the current component, but any number of external
            dependencies are permitted.

            * <<
            <pom path>>>: [VCS path]/[ID]-model/pom.xml (i.e. <<
                <nazgul
                /foo/foo-model/pom.xml>>>)

                * <<
                <artifactId>>>: [Short prefix]-[ID]-model (i.e. <<
                    <nazgul-foo-model>>>).

                        * <<
                        <package root>>>: [groupId].model (i.e <<
                            <se.jguru.nazgul.foo.model>>>)

                                * <<
                                <Import restrictions>>>: May not depend on any other component projects in artifact
                                    scope
                                    (i.e. api or impl projects).

                                    +------------------------------------------+
                                    Pom path:
                                    nazgul/foo/foo-model/pom.xml

                                    Pom details for project:
                                    <groupId>se.jguru.nazgul.foo.model</groupId>
                                    <artifactId>nazgul-foo-model</artifactId>
                                    +------------------------------------------+

                                    ** The API project

                                    Contains specifications for how to interact with the component, typically
                                    interfaces,
                                    abstract classes and exceptions. May depend only on the model project within the
                                    current component, in
                                    addition to any external (api) dependencies.

                                    * <<
                                    <pom path>>>: [VCS path]/[ID]-api/pom.xml (i.e. <<
                                        <nazgul
                                        /foo/foo-api/pom.xml>>>)

                                        * <<
                                        <artifactId>>>: [Short prefix]-[ID]-api (i.e. <<
                                            <nazgul-foo-api>>>).

                                                * <<
                                                <package root>>>: [groupId].api (i.e <<
                                                    <se.jguru.nazgul.foo.api>>>)

                                                        * <<
                                                        <Import restrictions>>>: May only depend on the model component
                                                            project in artifact scope
                                                            (i.e. [project]-foo-model).

                                                            +------------------------------------------+
                                                            Pom path:
                                                            nazgul/foo/foo-api/pom.xml

                                                            Pom details for project:
                                                            <groupId>se.jguru.nazgul.foo.api</groupId>
                                                            <artifactId>nazgul-foo-api</artifactId>
                                                            +------------------------------------------+

                                                            ** Each Impl project

                                                            Contains a particular implementation of the specifications
                                                            found in the API project,
                                                            plus any required Dependency Injection (DI) instructions,
                                                            such as Blueprint or Spring DM configuration documents.
                                                            Each implementation project must be distinct from all other
                                                            implementation projects in name, package root and
                                                            artifactId since potentially many implementations must be
                                                            able to co-exist as Tomcat services simultaneously.

                                                            Therefore, each implementation project must define a unique
                                                            <<
                                                            <qualifier>>> - it is recommended that this
                                                                qualifier indicates the type of implementation or the
                                                                underlying implementation technology. In the examples
                                                                below
                                                                the qualifier is chosen to be <<
                                                                <blueprint>>>:

                                                                    * <<
                                                                    <pom path>>>: [VCS
                                                                        path]/[ID]-impl-[qualifier]/pom.xml (i.e.
                                                                        <<
                                                                        <nazgul
                                                                        /foo/foo-impl-blueprint/pom.xml>>>)

                                                                        * <<
                                                                        <artifactId>>>: [Short
                                                                            prefix]-[ID]-impl-[qualifier] (i.e. <<
                                                                            <nazgul-foo-impl-blueprint>>>).

                                                                                * <<
                                                                                <package root>>>:
                                                                                    [groupId].impl.[qualifier] (i.e
                                                                                    <<
                                                                                    <se.jguru.nazgul.foo.impl.blueprint>
                                                                                        >>)

                                                                                        * <<
                                                                                        <Import restrictions>>>: May
                                                                                            depend on the model or api
                                                                                            component projects in
                                                                                            artifact scope
                                                                                            (i.e. [project]-foo-model
                                                                                            and [project-foo-api]), as
                                                                                            well as any component SPI
                                                                                            projects.

                                                                                            +------------------------------------------+
                                                                                            Pom path:
                                                                                            nazgul/foo/foo-impl-blueprint/pom.xml

                                                                                            Pom details for project:
                                                                                            <groupId>
                                                                                                se.jguru.nazgul.foo.impl.blueprint
                                                                                            </groupId>
                                                                                            <artifactId>
                                                                                                nazgul-foo-impl-blueprint
                                                                                            </artifactId>
                                                                                            +------------------------------------------+

